
.hero-section {
    background-image: url(https://images.pexels.com/photos/422218/pexels-photo-422218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    position: relative;  
    height: 100vh;
    background-size: cover; /* Changed from fixed to cover */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-section .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.content-box {
    border: 1px solid #fff;
    color: #fff;
    max-width: 900px;
    margin: 0 auto; 
}

